<div>
    <div >
        <h1>USER OK LOGIN!</h1>
        <h2><i>Bienvenido {{datos.nombre}}</i></h2>
        <br>
        <h3>dirección: {{datos.direccion}}</h3>
        <h4>visitas: {{contador}}</h4>
        <button onclick="location.href='/logout'">LOGOUT</button>
    </div>
</div>

{{!-- {contador, datos: {nombre, direccion}} --}}